footer
  background-color: $amarillo
  padding: 1em
  .copyright
      background-color: gray
      b
        font-family: $font 
        padding: 1em
.ankr
  color: $blanco
  float: right
  margin-left: 30px       
       
ul
  background-color: $mamey
  li
    list-style: none
    color: $blanco
    padding: 1em



 