div:nth-child(2)
  background-color: $verde
  img
    width: 350px
    p
      color: $blanco
      font-family: $font

div
  background-color: $amarillo
  padding: 2em
  p
    color: $blanco
    font-family: $font
    font-size: $font-size