// colors 

$verde: #62ad5b
$azul: #4286f4
$negro: black
$amarillo: #f4cd41
$mamey: #f44143
$blanco: white
$font: 'Helvetica'
$font-size: 16px 
   
.anchor-default
  color: $blanco
  font-family: $font
  text-decoration: none
  list-style: none  

=border-radius($radio)
  -webkit-border-radius: $radio
  -moz-border-radius: $radio
  -ms-boder-radius: $radio
  border-radius: $radio