header {
  background-color: #f4cd41; }

header h1 {
  color: white;
  text-align: center; }

button {
  background-color: #f44143;
  padding: 10px 20px;
  margin: 20px;
  position: relative;
  left: 450px;
  border-radius: 10px;
  border-color: #f44143; }

button a {
  color: white;
  font-family: "Helvetica";
  text-decoration: none; }

div:nth-child(2) {
  background-color: #62ad5b; }

div:nth-child(2) img {
  width: 500px; }

div {
  background-color: #f4cd41;
  padding: 2em; }

div p {
  color: black;
  font-family: "Helvetica";
  font-size: 16px; }

.therd-p {
  float: right;
  position: relative;
  right: 150px; }

footer {
  background-color: #f4cd41;
  padding: 1em; }

footer .copyright {
  background-color: gray; }

footer .copyright b {
  font-family: "Helvetica";
  padding: 1em; }

ul {
  background-color: #f44143; }

ul li {
  list-style: none;
  color: white;
  padding: 1em; }
